:root {
  --asset: #5C14C8;
  --text: #3D3D3D;
  --dark: #111111;
  --yellow: #E8D800;
  --white: #FFF;
  --secondary: #202020;
  --inactive: #707070;
  --links: #DFDFDF;
}
   


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana,sans-serif;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  padding: .1rem;
  font-size: 0.875rem;
  letter-spacing: .1rem;
}

.header {
  background-image: url('./assets/images/background.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
}

.background {
  background-image: url('./assets/images/background_full.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
}

.active {
  background: var(--asset);
}